<%- include('../partials/header') %>
<div class="article-detail">
  <h2><%= article.title %></h2>
  <p class="author">Author: <%= article.author %></p>
  <div class="content"><%= article.content %></div>
  <a href="/articles" class="back-link">Back to Articles</a>
</div>
<%- include('../partials/footer') %>
